name: Update All Packages

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  prepare:
    name: Prepare Environment
    runs-on: windows-latest
    steps:
      - name: Install PowerShell modules
        run: |
          Install-Module -Name AU -Scope CurrentUser -Force
      - name: Verify module installation
        run: |
          Get-Module -Name AU -ListAvailable
      - name: Cache PowerShell modules
        uses: actions/cache@v4
        id: cache
        with:
          path: C:\Users\runneradmin\Documents\PowerShell\Modules
          key: ${{ runner.os }}-powershell-modules-AU-2022.10.24
          restore-keys: ${{ runner.os }}-powershell-modules
  update:
    name: Update Code
    needs: prepare
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - software: fastfetch
            repo: fastfetch-cli/fastfetch
          - software: bbdown
            repo: nilaoda/BBDown
          - software: qbittorrent-enhanced
            repo: c0re100/qBittorrent-Enhanced-Edition
            trimstart: release-
          - software: nexttrace
            repo: nxtrace/NTrace-core
            trimstart: v
    steps:
      - name: Check Out Code
        uses: actions/checkout@v4
      - name: Restore PowerShell module cache
        uses: actions/cache/restore@v4
        id: cache
        with:
          path: C:\Users\runneradmin\Documents\PowerShell\Modules
          key: ${{ runner.os }}-powershell-modules-AU-2022.10.24
      - name: Update Version in Code
        shell: pwsh
        working-directory: ${{ matrix.software }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          Import-Module AU
          ./update.ps1
      - name: Get Software Latest Version
        id: version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $headers = @{}
          if ($env:GITHUB_TOKEN) { $headers["Authorization"] = "token $env:GITHUB_TOKEN" }
          $latestVersion = ((Invoke-WebRequest -Uri "https://api.github.com/repos/${{ matrix.repo }}/releases/latest" -UseBasicParsing -Headers $headers).Content | ConvertFrom-Json).tag_name.TrimStart("${{ matrix.trimstart}}")
          "latest=$latestVersion" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "${{ matrix.software }}: Update to v${{ steps.version.outputs.latest }}"
          branch: cpr/${{ matrix.software }}/${{ steps.version.outputs.latest }}
          delete-branch: true
          title: "CI: Update ${{ matrix.software }} to v${{ steps.version.outputs.latest }}"
          body: |
            Update report
            - Update ${{ matrix.software }} to v${{ steps.version.outputs.latest }}
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: |
            automated
            update version
            ${{ matrix.software }}
